/* Variables */

:root {
  --dark-color: #241624;
  --light-color: #69fff1;
  --color-1: #d0cd94;
  --color-2: #ffaa5a;
  --color-3: #c7ef00;
  --color-4: #d56f3e;
  --color-5: chartreuse;
  --color-6: #fafa37;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
}

/* Generales */

a {
  color: var(--dark-color);
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

a:hover {
  color: var(--color-4);
}

code {
  font-family: "Fira Code", monospace;
  background-color: var(--light-color);
}

/* Efectos */
.sombra-suave {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(92, 92, 92, 0.45);
  -moz-box-shadow: 0px 3px 7px 0px rgba(92, 92, 92, 0.45);
  box-shadow: 0px 3px 7px 0px rgba(92, 92, 92, 0.45);
}

.sombra-media {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
  -moz-box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
  box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
}

/* Elementos */
/* NavBar */
.navbar {
  height: 7em;
  background-color: var(--color-6);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .titulo {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
  margin-top: 1em;
}

.navbar nav {
  background-color: white;
}

.navbar nav,
.navbar nav ul {
  border-radius: 5px;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.navbar nav ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1.2em;
}

.container {
  width: 80vw;
  margin: auto;
}

.wrapper {
  margin: 1em 0;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
}

/* Section */
.section {
  margin: 2em 0;
}

.section--title {
  padding: 0 0.5em;
  border-radius: 3px;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  background-color: var(--color-6);
}

/* Article */

.article {
  padding: 0 1em;
  margin: 1em 0;
}

.article--title {
  font-size: 1.5em;
}

.article--body {
  font-size: 1.2em;
}

.article--body p {
  margin: 0.7em 0;
}

.article--body pre {
  border-left: 6px solid #d56f3e;
  padding: 0.5em 0 0.5em 1em;
  background-color: var(--light-color);
  overflow-x: scroll;
}

.article--body ul {
  padding-left: 2em;
  padding-right: 2em;
}

.article--video {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.article--video > iframe {
  border-radius: 5px;
  border: 5px solid var(--color-4);
  margin: 0;
  padding: 0;
}

/* Fotter */

.footer {
  height: 8em;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.2em;
}

.footer p span {
  font-weight: normal;
  color: #292929;
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer .footer--link a {
  margin: 0.5em 0.5em;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 70vw;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 50vw;
    margin: auto;
  }
}
