/* Variables */

:root {
  --dark-color: #241624;
  --light-color: #69fff1;
  --color-1: #d0cd94;
  --color-2: #ffaa5a;
  --color-3: #c7ef00;
  --color-4: #d56f3e;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
}

/* Generales */

a {
  color: var(--dark-color);
}

a:hover {
  color: var(--color-4);
}

code {
  font-family: "Fira Code", monospace;
}

/* Elementos */
/* NavBar */
.navbar {
  height: 7em;
  background-color: chartreuse;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
  -moz-box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
  box-shadow: 0px 3px 10px 0px rgba(92, 92, 92, 0.65);
}

.navbar .titulo {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
  margin-top: 0.5em;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--light-color);
  height: 100%;
  border-radius: 10px;
}

.navbar nav ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
}

.container {
  width: 80vw;
  margin: auto;
}

.wrapper {
  background-color: chartreuse;
  padding: 1em;
  margin: 2em 0;
}

/* Fotter */

.footer {
  height: 8em;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.footer p span {
  font-weight: normal;
  color: #292929;
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer .footer--link a {
  margin: 0.5em 0.5em;
}
